.Hero{
    height: 100vh;
    padding: 150px 0;
}

.hero_img img{
    max-width: 500px;
    width: 100%;
}

.hero-text p{
    font-size: 18px;
    line-height: 20px;
    margin: 1rem 0;
    padding-left: 1.5rem;     
}

.hero-text span{
    color: #26ba8a;
}
a{
    text-decoration: none;
}
.hero-btn .btn a{
    background-color: #26ba8a;
    color: #fff;
    padding: 10px 20px;
    
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
    cursor: pointer;
    border: 1px solid #26ba8a;    
}

.btn i{
    font-size: 1.5rem;
    align-items: center;
    
}

.btn a:hover{
    color: #26ba8a;

    background-color: #fff;
}
    

.hero_img {
    position: relative;
}
.hero-text h1{
    font-size: 4rem;
    font-weight: 700;
    margin: 0 20px;
}

.hero-text{
    width: 80%;
    margin-left: auto;
   
}

.hero_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;  
    padding: 150px 0;
}
.video-play-btn {
   
    
    border: 2px solid #26ba8a;
   padding: 9px 14px;
   background-color: #26ba8a;
    border-radius: 100%;
   color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.video-play-btn i{    
    font-size: 1.5rem;
}

.video-play-btn:hover {
    background: #fff;
   
}

.video-play-btn i:hover {
    color: #26ba8a;
}